{% include "./header.njk" %}

<body>
  <div id="container">
    <div id="left">
      <div class="overlay"></div>
      <div class="intro">
        <a class="avatar" href="/">
          <img src={{ theme.avatar }} alt="avatar">
        </a>
        <p class="name">
          <a href="/">{{ theme.author }}</a>
        </p>
        <p class="signature">{{ theme.signature }}</p>
        <nav class="menu">
          <ul>
            <li>
              <a href="/">主页</a>
            </li>
            <li>
              <a href="/">相册</a>
            </li>
          </ul>
        </nav>
        <nav class="sub-menu">
          <a href="/">所有文章 / </a>
          <a href="/">关于我</a>
        </nav>
        <nav class="social">
          <a class="github" href={{ theme.social.github }} target="_blank"><i class="anticon icon-github"></i></a>
        </nav>
      </div>
    </div>
    <div id="right">
      <div id="wrapper">
        <div id="content">
           {% block content %}{% endblock %}
        </div>
      </div>
      <footer id="footer"> © 2019 {{ theme.author }} </footer>
    </div>
  </div>

{% include "./footer.njk" %}

