{% macro css(stylesheets) %}
  {% for href in stylesheets %}
    <link rel="stylesheet" href={{ href }}>
  {% endfor %}
{% endmacro %}

{% macro js(scripts) %}
  {% for js in scripts %}
    <script src={{ js }}></script>
  {% endfor %}
{% endmacro %}